name: Build kernel .src.rpm

on:
  push:
    branches-ignore: [ '*' ]
    tags: [ '*' ]

env:
  COPR_CONFIG_FILE: ${{ github.workspace }}/copr

jobs:
  feodora-kernel-build-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Copr config
        run: |
          touch $COPR_CONFIG_FILE
          chmod 600 $COPR_CONFIG_FILE
          envsubst < build-script/copr-config.template > $COPR_CONFIG_FILE
        env:
          COPR_LOGIN: ${{ secrets.COPR_LOGIN }}
          COPR_USERNAME: ${{ secrets.COPR_USERNAME }}
          COPR_TOKEN: ${{ secrets.COPR_TOKEN }}
          COPR_URL: ${{ secrets.COPR_URL }}

      - name: Run kernel-mock.sh in docker
        uses: addnab/docker-run-action@v3
        with:
          image: fedora:latest
          options: -v ${{ github.workspace }}:/build --privileged
          run: |
            echo "Install packages"
            dnf -q -y install koji copr-cli mock
            echo "Run build"
            cd /build/build-script
            ./kernel-mock.sh -c -f /build/copr
            echo "Wait 180s for starting the builds in copr"
            sleep 180s
            echo "Write BUILD.md"
            ./build-status.sh -f /build/copr > /build/results/BUILD.md
      
      - name: Remove Copr config
        run: rm -f $COPR_CONFIG_FILE

      - name: Archive BUILD.md artifacts
        uses: actions/upload-artifact@v3
        with:
          name: BUILD.md
          path: |
            results/BUILD.md

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: results/BUILD.md